[core]
  ignorecase  = false
[color]
  status      = true
  branch      = true
  ui          = true
  diff        = true
  interactive = true
[user]
  email       = johnnygreen@gmail.com
  name        = Johnny Green
[credential]
  helper      = osxkeychain
[push]
  default     = matching
[alias]
  history     = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%cr)%C(reset) %C(white)%s%C(reset) %C(bold white)— %cn%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative --date-order
  unstage     = reset HEAD --
  uncommit    = reset --soft HEAD~1
  change-case = mv --force
[github]
  user        = johnnygreen
[heroku]
  account     = johnnygreen
[http]
  sslVerify = false
