[core]
  ignorecase = false
	excludesfile = /Users/jwork/.gitignore
[color]
  status = true
  branch = true
  ui = true
  diff = true
  interactive = true
[user]
	email = johnny.green@salesforce.com
	name = Johnny Green
[credential]
  helper = osxkeychain
[push]
  default = matching
[alias]
  history = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%cr)%C(reset) %C(white)%s%C(reset) %C(bold white)— %cn%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative --date-order
  unstage = reset HEAD --
  uncommit = reset --soft HEAD~1
  task = "!f() { name=${1:?'Missing required argument 1, task name'}; branch=${2:-develop}; git checkout $branch; git pull origin $branch; git checkout -b $name; git push origin $name; git branch --set-upstream-to=origin/$name $name; }; f"
  contains = "!f() { git branch --contains $1; }; f"
  change-case = mv --force
  scrub = "!f() { filter=\"git rm --cached --ignore-unmatch $1\" git filter-branch --force --index-filter \"$filter\" --prune-empty --tag-name-filter cat -- --all; }; f"
  delete-tags = "!f() { git tag -l | xargs -n 1 git push --delete origin && git tag -l | xargs git tag -d; }; f"
  delete-merged = "!f() { git branch --merged | egrep -v \"(^\\*|master|main|develop|release)\" | xargs git branch -d; }; f"
[github]
  user = johnnygreen
[heroku]
  account = johnnygreen
[http]
  sslVerify = false
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
  process = git-lfs filter-process
[pull]
  ff = only
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =
[mergetool "sourcetree"]
  cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[commit]
  template = /Users/jwork/.stCommitMsg
